section{
    text-align: center;
    font: 20px arial;
    background-color:white;
    border-radius: 100px;
    padding:40px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37)
    
}


body{
    background-color:rgb(0, 0, 0);

}



    